
<h2>Liquid World Official Web Page</h2>
<h3>@ViewBag.Message</h3>

<p>This is the official website of "Liquid World Ltd." We are a group of drink resellers and distributors.
    We offer various non-alcoholic and alcoholic beverages for the best prices online. Our web service’s 
    smart technology gives every user amazing opportunity to buy their favorite drink or even cocktail
    online and deliver within the shortest amount of time. The list of our beverages is available for every 
    visitor of the website. You can choose any drink from the menu, in order to buy the drink you 
    need to be registered and fill the registration form. After confirmation your e-mail and age, 
    every user can order any amount of any drink from our menu. The availability of the drinks are 
    managed by Administrators and in case some drink is out of the sale, or some drink is added to the
    list, the administrator will delete/remove or add them. Users can only order those drinks and cannot
    change them. Wish you successful orders and have a pleasant time with our drinks. </p>



 <p> The website is created by Vakhtang Donadze</p>
